.logo {
  height: 50px;
}
/*
nav {
  display: flex;
}
.searching {
  display: flex;
  list-style: none;
  .searchBar {
    input {
      display: none;
    }
    button {
      background: none;
      border: none;
    }
  }
  .categories {
    list-style: none;
  }
}
*/
