// CLASS
.accueil {
  border-top: 1px solid #0074c7;
  border-bottom: 1px solid #0074c7;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  ol {
    margin: 0;
    padding-left: 20px;
  }

  // CLASS
  .guide {
    width: fit-content;
  }
}
.topList {
  border-bottom: 1px solid #0074c7;
  padding-bottom: 20px;
  margin-top: 20px;

  text-align: center;
}
