footer {
  color: #ffffff;
  background-color: #0074c7;
  width: 100%;
  padding: 20px;

  a {
    color: #ffffff;
    text-decoration: none;
  }
  address {
    margin: 0;
    padding-bottom: 20px;
  }

  // CLASS
  .legalList {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: solid 1px #ffffff;
  }
  .loc {
    text-transform: uppercase;
  }

  // RESPONSIVE
  @media all and (min-width: 768px) {
    .legalList {
      flex-direction: row;
      gap: 20px;
    }
  }
}

// RESPONSIVE
@media all and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    address {
      text-align: center;
    }
  }
}
@media all and (min-width: 1440px) {
  footer {
    padding: 20px 90px;
  }
}
